.transactionList {
    display: grid; 
    grid-template-rows: repeat(auto-fit,minmax(7vh,min-content));
    grid-template-columns: repeat(5, 1fr);
    margin: 0rem 3rem;
    /* margin-top: 1rem; */
    font-weight: bold;
    font-family: "Roboto",serif;
   /* background-color: midnightblue; */
}
.flex {
    display: flex;
    /* justify-content: center; */
    align-items: center;
       }
h2 {
    font-family: "Roboto",serif;
    margin: 1rem 3rem;
}