.signinContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 80px);
  grid-template-areas: "signinImage signinForm";
  /* background-color: lime; */
}
.signinImage {
  grid-area: signinImage;
  background-image: url("../../images/bg.jpg");
  background-size: 100% 1005, cover;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.signinForm {
  grid-area: signinForm;
}
.signinForm h2 {
  font-family: "Roboto", sans-serif;
  /* font-size: 2rem; */
}
.googleLogin {
  width: 100%;
}
.card {
  box-shadow: 5px 10px 18px #888888;
}
.alternateLogin {
  color: mediumseagreen;
}
@media only screen and (max-width: 1100px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .signinContainer {
    display: grid;
    /* background-color: lime; */
    grid-template-areas:
      "signinImage"
      "signinForm";
    grid-template-rows: repeat(2, minmax(60vh, min-content));
    grid-template-columns: 1fr;
  }
  .signinForm {
    display: block;
  }

  .CardContent {
    display: block;
  }
}
